/* ******************************** */


/* ******************************** */


/* HEADER */


/* ******************************** */


/* ******************************** */


/* ******************************** */

.header {
    height: convertir(80);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        justify-content: space-between;
    }
    & a {
        color: $color-black;
    }
}