/* ******************************** */


/* ******************************** */


/* BOTONES */


/* ******************************** */


/* ******************************** */


/* ******************************** */

%btn {
    background-color: $color-orange;
    color: $color-white;
    padding: convertir(10);
}

.header__boton,
.primero__boton {
    @extend %btn;
}

.input__boton {
    @extend %btn;
    border-radius: convertir(20);
}