
<ul class="footer__empresa">Empresa
  <li class="empresa__1">Quienes Somos</li>
  <li class="empresa__2">Historia</li>
</ul>
<ul class="footer__comunidad">Comunidad
  <li class="comunidad__1">Eventos</li>
  <li class="comunidad__2">Blog</li>
  <li class="comunidad__3">Foros</li>
</ul>
<ul class="footer__contactar">Contactar
  <li class="contactar__1">Formulario</li>
  <li class="contactar__2">+34 666 55 55 55</li>
</ul>
<ul class="footer__redes">Redes
  <li class="redes__1">Facebook</li>
  <li class="redes__2">Twitter</li>
  <li class="redes__3">Instagram</li>
</ul>
<section class="footer__input"> 
  <input class="input__place" type="email" placeholder="tu email"/><a class="input__btnn" href="#">Noticias</a>
</section>
<h6 class="footer__copy">Copyright 2020</h6>