
<article class="mid__option1">
  <h4 class="option1__title">Opción 1</h4>
  <p class="option1__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.</p>
</article>
<article class="mid__option2">
  <h4 class="option2__title">Opción 2</h4>
  <p class="optiont2__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.</p>
</article><img class="mid__img" src="/assets/img/desktop/camara_2.png" alt="cámara reflex"/>
<article class="mid__option3">
  <h4 class="option3__title">Opción 3</h4>
  <p class="optiont3__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.</p>
</article>
<article class="mid__option4">
  <h4 class="option4__title">Opción 4</h4>
  <p class="option4__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.</p>
</article>