//- Primera lista (columna 1)
ul.footer__empresa Empresa
    li.empresa__1 Quienes Somos
    li.empresa__2 Historia

//- Segunda lista (columna 2)
ul.footer__comunidad Comunidad
    li.comunidad__1 Eventos
    li.comunidad__2 Blog
    li.comunidad__3 Foros

//- Tercerca lista (columna 3)
ul.footer__contactar Contactar
    li.contactar__1 Formulario
    li.contactar__2 +34 666 55 55 55

//- Cuarta lista (columna 4)
ul.footer__redes Redes
    li.redes__1 Facebook
    li.redes__2 Twitter
    li.redes__3 Instagram

//- Formulario
section.footer__input 
    input.input__place(type="email", placeholder="tu email")
    a.input__btnn(href="#") Noticias

h6.footer__copy Copyright 2020