//- Logo
h1.header__logo LOGOTIPO
//- Navegador
nav.header__nav
    a.nav__1(href="#") Inicio
    a.nav__2(href="#") Productos
    a.nav__3(href="#") Servicios
//- Botón
a.header__btn(href="#") Comprar ya!