article.mid__option1
    h4.option1__title Opción 1
    p.option1__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.

article.mid__option2
    h4.option2__title Opción 2
    p.optiont2__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.

img.mid__img(src="/assets/img/desktop/camara_2.png", alt="cámara reflex")
    
article.mid__option3
    h4.option3__title Opción 3
    p.optiont3__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.

article.mid__option4
        h4.option4__title Opción 4
        p.option4__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cum praesentium tempore asperiores in sed.