article.top
    h3.top__title Nueva Cámara, con Nueva Lente
    p.top__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid facilis sapiente ex rerum repudiandae, ratione sed tempora accusantium, veritatis consectetur nobis, saepe ducimus iusto eos et minima placeat architecto voluptatem.
    a.top__boton(href="#") Leer más
img.top__img(src="/assets/img/desktop/camara_1.png", alt="cámara")