<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")
        title Control2_Modulo2
    body
        div#container
            //-HEADER
            header.header
                include header.pug

            //-MAIN
            main.main
                //- Primera parte
                section.sect__top
                    include sect_top.pug
                //- Segunda parte
                section.sect__mid
                    include sect_mid.pug
                //- Tercera parte
                section.sect__bot
                    include sect_bot.pug
                

            //-FOOTER
            footer.footer   
                include footer.pug