<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Control2_Modulo2
    body
        div#container
            //-HEADER
            header.header
                include header.pug

            //-MAIN
            //- Primera parte
            main.main__top
                include main_bot.pug
            //- Segunda parte
            main.main__mid
                include main_mid.pug
            //- Tercera parte
            main.main__bot
                include main_bot.pug
                

            //-FOOTER
            footer.footer   
                include footer.pug