/* ******************************** */


/* ******************************** */


/* TIPOGRAFIA */


/* ******************************** */


/* ******************************** */


/* ******************************** */

// Tipografía Base y variables tipográficas
$font_fz-base: convertir(16);
$font: 'Arial';
$font_fz-h1: convertir(36);
$font_fz-h4: convertir(18);
$font_fz-footer: $font_fz-h4;
// Tipo de la página
html {
    font-family: $font;
}

h1 {
    font-size: $font_fz-h1;
}

h4 {
    font-size: $font_fz-h4;
}

.footer {
    ul {
        font-size: $font_fz-footer;
        font-weight: bold;
    }
}