// Colores
$color-orange:#F2624A;
$color-antique: #FFE6D1;
$color-egg:#F8F6EE;
$color-grey:#C4C4C4;
// Colores base
$color-black: #000000;
$color-white: #ffffff;
// Colores con nombres de referencia a utilidades
$color-btn: $color-orange;
$color-main_top: $color-antique;
$color-main_bot: $color-egg;
// Tamaños
$size-titulos-logo: convertir(36);
$size-nav: convertir(18);